services:
  # ----------------------------
  # Nginx - веб-сервер
  # ----------------------------
  nginx:
    image: nginx:latest
    container_name: laradocker_nginx
    ports:
      - "8876:80"                       # локальный порт 8876 -> порт 80 контейнера
    volumes:
      - ./:/var/www/
      - ./_docker/nginx/local.conf/:/etc/nginx/conf.d/
    depends_on:
      - app

  # ----------------------------
  # PHP / Laravel приложение
  # ----------------------------
  app:
    build:
      context: .
      dockerfile: _docker/app/Dockerfile
    container_name: laradocker_app
    volumes:
      - ./:/var/www
    depends_on:
      - db

  # ----------------------------
  # PostgreSQL база данных
  # ----------------------------
  # db:
  #   image: postgres:15
  #   container_name: project_db
  #   restart: unless-stopped
  #   ports:
  #     - "8203:5432"                     # локальный порт 8203 -> порт 5432 контейнера
  #   volumes:
  #     - ./tmp/db:/var/lib/postgresql/data
  #   environment:
  #     POSTGRES_DB: lardocker
  #     POSTGRES_USER: root
  #     POSTGRES_PASSWORD: root

  # ----------------------------
  # Пример MySQL (закомментирован)
  # ----------------------------
  db:
    image: mysql:8.0
    restart: unless-stopped
    volumes:
      - dbdata:/var/lib/mysql
    environment:
      MYSQL_DATABASE: lardocker
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 8203:3306
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    container_name: project_db

volumes:
  dbdata:
